{% extends "layout.html" %}

{% block title %}
    Orlane Houzet | About
{% endblock %}

{% block main %}

	<!--RAPPEL DE L'ONGLET<h1>About</h1>-->
			<!-- who, what 
			<div class="overflow-auto">...</div>-->

			<!-- timeline 
						<div class="timeline">
						  <div class="container left">
						    <div class="content">
						      <h2>2017</h2>
						      <p>Lorem ipsum..</p>
						    </div>
						  </div>
						  <div class="container right">
						    <div class="content">
						      <h2>2016</h2>
						      <p>Lorem ipsum..</p>
						    </div>
						  </div>
						</div>-->

	<div class="row">
	<div class="col-5">
		<!-- Intro / Who/What...-->
		<div class="jumbotron jumbotron-fluid">
		  <div class="container">
		    <h1 class="display-6">Data Scientist</h1>
		    <hr class="my-4">
		    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.
		    I am a programmer and data scientist.
			<br/>I've just graduated from a <strong>Master degree</strong> and I am eager to find challenges as I am passionned by new technologies.</p>
		  </div>
		</div>
	</div>


     </div>
     </div>
	<!-- Section 1 : comporte les cours que j'ai fais -->
	<!--<section>
		<h1 class="coursework">Coursework</h1>
		<h2>Statistics</h2>
		<ul>
			<li>Complete Machine Learning: ZeroToMastery</li>
			<li>Dauphine: Analyse de données et Data Mining</li>
		</ul>

		<h2>Java</h2>
		<ul>
			<li>Complete Machine Learning: ZeroToMastery</li>
			<li>Dauphine: Analyse de données et Data Mining</li>
		</ul>

		<h2>Python</h2>
		<ul>
			<li>Complete Machine Learning: ZeroToMastery</li>
			<li>Dauphine: Analyse de données et Data Mining</li>
		</ul>

		<h2>Machine Learning</h2>
		<ul>
			<li>Complete Machine Learning: ZeroToMastery</li>
			<li>Dauphine: Analyse de données et Data Mining</li>
		</ul>

		<h2>HTML/CSS</h2>
		<ul>
			<li>OpenClassrooms</li>
			<li>Dauphine: Analyse de données et Data Mining</li>
		</ul>
	</section>-->

{% endblock %}