{% extends "layout.html" %}

{% block title %}
    Orlane Houzet
{% endblock %}

{% block main %}

	<section class="home-content">

		<!-- Intro -->
		<div class="jumbotron jumbotron-fluid">
		  <div class="container">
		    <h1 class="display-6">Data Scientist</h1>
		    <hr class="my-4">
		    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.
		    I am a programmer and data scientist.
			<br/>I've just graduated from a <strong>Master degree</strong> and I am eager to find challenges as I am passionned by new technologies.</p>
		  </div>
		</div>


		<!-- My Latest Project -->
	    <div class="container">
	        <div class="row justify-content-center">
	            <div class="row">
	                <h3>My Latest Projects</h3>
	            </div>
	            <div class="row">
		            <div class="media">
					  <img src="..." class="mr-3" alt="...">
					  <div class="media-body">
					    <h5 class="mt-0">Media heading</h5>
					    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					  </div>
					</div>
				</div>	
	        </div>
	    </div>
	</section>
	



{% endblock %}