{% extends "layout.html" %}

{% block title %}
    Orlane Houzet
{% endblock %}

{% block main %}

	<section class="home-content">

		<!-- Intro -->
		<div class="row intro-content" style="min-height:700px;">
			<div class="col-2 pt-5">
	        	<img src="/static/img/Houzet_Orlane.jpg" class="img-fluid" style="max-width: 100%; height: auto; max-height: 100%; margin-top: 0%; border-radius: 50px" alt="Picture of me">
	        </div>
			<div class="col">
	    		<div class="jumbotron">
	    		  <div class="container">
	    		    <p class="lead">Data scientist - I am particularly interested in the intersection between new technologies, innovation, creation and quality.</p>
	    		     <span class="d-block p-2 bg-primary text-white">Me in 15 seconds.</span>
	    		    <span class="d-block p-2 bg-dark text-white">I’m from France, around Paris.</span>
					<span class="d-block p-2 bg-dark text-white">I completed my studies in Data Science in 2020 (Master’s Degree, Paris-Dauphine University).</span>
					<span class="d-block p-2 bg-dark text-white">The use of new technologies has always fascinated me. I am also passioned by fashion and design, creation and quality.
					For 2 years, my new pastime is sewing.</span>
					<span class="d-block p-2 bg-dark text-white">I am interested by every innovative industries like News Media, Information Technology, Entertainment, Textiles and Manufacturing.</span>
					<span class="d-block p-2 bg-dark text-white">You can find me on platforms like Medium, StackOverflow, Kaggle and Instagram</span>
					
					<hr class="my-4">
					<!--<h1 class="display-6">DATA SCIENCE & CREATIVE INNOVATION</h1>-->
	    		  </div>
	    			
	    		</div>
	    		
	        </div>
	    </div>





		<div class="jumbotron jumbotron-fluid">
		  <div class="container">
		    <h1 class="display-6">Data Scientist</h1>
		    <hr class="my-4">
		    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.
		    I am a programmer and data scientist.
			<br/>I've just graduated from a <strong>Master degree</strong> and I am eager to find challenges as I am passionned by new technologies.</p>
		  </div>
		</div>

	</section>
	



{% endblock %}