{% extends "layout.html" %}
{% set active_page = "about" %}

{% block title %}
    Orlane Houzet | About
{% endblock %}

{% block main %}

	<!-- This section is about to tell a bit about myself, like:
        - my learning path
        - my career
        - my skills (key skills and further, links to my projects portfolio)
        - my passions (links to my blog)
    -->
    
    <div class="about-content p-3 px-5">
    	<!-- Header -->
	      <div class="container-fluid p-md-3">
	        <p>Here are some of my curriculum choices!</p>
	      </div>

    	<!-- About Section -->
		<!-- Navs -->
		<div class="d-flex align-items-start">
		  <div class="nav flex-column text-nowrap nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		    <a class="nav-link active" id="v-pills-intro-tab" data-bs-toggle="pill" href="#v-pills-intro" role="tab" aria-controls="v-pills-intro" aria-selected="true">Introduction</a>
		    <a class="nav-link" id="v-pills-learning-tab" data-bs-toggle="pill" href="#v-pills-learning" role="tab" aria-controls="v-pills-learning" aria-selected="false">Learning Path</a>
		    <a class="nav-link" id="v-pills-career-tab" data-bs-toggle="pill" href="#v-pills-career" role="tab" aria-controls="v-pills-career" aria-selected="false">Career</a>
		    <a class="nav-link" id="v-pills-skills-tab" data-bs-toggle="pill" href="#v-pills-skills" role="tab" aria-controls="v-pills-skills" aria-selected="false">Skills</a>
		    <a class="nav-link" id="v-pills-passions-tab" data-bs-toggle="pill" href="#v-pills-passions" role="tab" aria-controls="v-pills-passions" aria-selected="false">Passions</a>
		  </div>

		  <!-- Content -->
		  <div class="container-fluid tab-content" id="v-pills-tabContent">
		    <div class="tab-pane fade show active" id="v-pills-intro" role="tabpanel" aria-labelledby="v-pills-intro-tab">
		    	<div class="container-fluid">
		    		<div class="row gx-5">
			    		<div class="col-auto">
			    			<img src="/static/img/pastille_houzet.png" class="img-fluid"  alt="Picture of me" style="max-width: 200px;">
			    		</div>
			    		<div class="col align-self-center">
			    			<div class="accordion accordion-flush" id="accordionFlushExample">
							  <div class="accordion-item">
							    <h2 class="accordion-header" id="flush-headingOne">
							      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
							        My decision for starting the course
							      </button>
							    </h2>
							    <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
							      <div class="accordion-body">
							      	<p>It was the summer of 2015, I’ve just had my high school diploma in sciences. I’ve always loved mathematics and I was good at chemistry and physics. I quickly found interest in Computer Science when I started my first year of a Bachelor’s degree at the University, it was a multidisciplinary training, ie. Maths, Chemistry, Physics and totally new to me, Computer Science.
									<br/>I was good at writing lines of codes and understanding about math logic, linear algebra…</p>
									<p>Just to let you know, although my father introduced me to new technologies from an early age, and I was always attracted by video games, drones, etc. (those « geek » things), I had no idea about what a terminal was and, most of all, I was so unconfident holding a Mac besides some of my classmates who had such a huge, dense sort of « geek » computer.</p>

									<p>It was at this point I started wondering whether I was planning a career in chemistry or in computer science. My decision was based on a hunch. I am a curious person but, I was so unsure and unconfident during a long time about this decision, you’ll know why later.
									<br/>But then something has confirmed my future career choice. It’s only at the end of my Bachelor’s degree, in November 2017, thanks to a video from direction of L’Oréal, as I like Fashion industry and lot of other things, it made me realize that this industry was really interested by this still mysterious domain to me at this period, the Data Science : they needed engineers! (Quote: L’Oréal).
									<br/>And even more, since I was reconsidering my training path, as I said before, I was so unsure about my decision. Sciences and more particularly Computer Science, is so much under-represented by women, as matter of fact, the fewer women, the fewer women. Those math, statistical or machine learning courses where I have once been the only girl sitting in a room of 25/30 persons, made me often feel out of place.</p>
								  </div>
							    </div>
							  </div>
							  <div class="accordion-item">
							    <h2 class="accordion-header" id="flush-headingTwo">
							      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
							        What I have achieved during my studies
							      </button>
							    </h2>
							    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
							      <div class="accordion-body">
							      	<p>The key skill of my five-years studies is, to me, the ability to learn. 
							      	<br/>This is the best qualification I would recommend to someone: to be a learner. And the second thing I would advise is, if you feel that you are able to learn something quickly, you have certainly some interest for it and then, this area of expertise could be well designed for you and for a career path, trust it!</p>
									<p>I have acquired computing skills and I have considerably increased my analytical skills.
									<br/>I’ve developed my coding skills through many project work (link to project/courses I’ve done—)
									<br/>Thanks to a final year « part-time » Master’s degree, I have a little industry experience working on a range of problems/hands-on of data analytics technologies.
									<br/>I adapt willingly to change as in just five years I’ve been to three different universities.</p>

									<p>What my expertise exactly is:
									The fundamentals of Data Science, Machine Learning, Big Data and Visualisations.</p>

									<p>I’ve been heading off to the University for the unique reason that I did not know at all what I wanted to do as higher education studies. I’ve intended to go to a chemical engineering school, but it was a costly and risky project to me.</p>
								  </div>
							    </div>
							  </div>
							  <div class="accordion-item">
							    <h2 class="accordion-header" id="flush-headingThree">
							      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
							        The outcome in the years following
							      </button>
							    </h2>
							    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
							      <div class="accordion-body">
							      	<p>As I have just finished my Master’s in Computer Science and Analytics, I have to say that those five-years studies were so intense and difficult, I came close to dropping out, but it has ended up to be the best choice of career I could ever make, remember, we are in 2020 when I am writing those lines.</p>
									<p>From now on, I am eager to integrate an inclusive and welcoming workplace, that’s all.</p>
									<p>Since October 2020, I have taken time to digest my journey, as I couldn’t really express to someone what role was fitted to me in this all thing that is Data Science. 
									Although I had the technical background, I had to demonstrate to people and, most of all, to myself, that I understand Machine Learning and apply these with coding.
									<br/>I needed something to achieve this (link to my portfolio of project—).
									<br/>To finish, as seen on many data science blog posts I red, I’ve found relevant to put my work in GitHub, Kaggle and in a proper web site!
									<br/>Also, it was the best period (confinement round 2) to read all of my to-read list (link to books I am reading).</p>

									<p class="fw-bolder pt-3">Who am I now?</p>
									<p>I consider myself to have the hacker spirit: it means passion, sociability and creativity.
									<ul>
										<li>Passion for the domain of new technologies.</li>
										<li>Sociability, it is something relevant to me as I love sharing and having fun.</li>
										<li>Creativity, the holy grail to me, this is what drove my decision to stay in the domain of Data Science, where we can create and apply IA/ML to answer to users uses cases in so many fields.</li>
									</ul>
										
									<br/>And, as I’ve discovered the term in an article and I really appreciate it, I am eager to become what we call a creative technologist!</p>

									<p>As I said before, I was not able at the end of my studies to tell what role was well fitted to me, then here it is: I am an analyst able to understand the stakes of Big Data. And I am eager to become a senior Data Scientist.</p>

									<p>Over the next few years, I would like to work in tech companies, where the core values are to innovate and collaborate. Either in France or abroad. I am also determined to improve all along with this new journey.
									<br/>Last but not least, I envision to share my work and my feeling about what it is to work in this area. I would love to make use of my experience to guide other women and men.</p>
								   </div>
							    </div>
							  </div>
							</div>
			    		</div>
			    	</div>
		    	</div>
		    </div>

		    <div class="tab-pane fade" id="v-pills-learning" role="tabpanel" aria-labelledby="v-pills-learning-tab">
		    	<!-- Timeline -->
			    <div class="timeline">
		            <div class="container-timeline left">
		                <div class="content overflow-auto">
	                        <h2>2020</h2>
                        	<ul class="marker-timeline">
                        		<li>
                        			<p>Obtaining the <a target="_blank" class="about-link" href="https://dauphine.psl.eu/formations/masters/informatique/m2-informatique-decisionnelle">Master’s degree in Computer Science and Analytics from Paris-Dauphine University.</a></p>
                        		</li>
                        		<li>
                        			<p>Finishing my one-year « part-time » at <a target="_blank" class="about-link" href="https://www.loreal.com/fr/science-et-technologie-beaute/recherche-innovation-au-service-beaute/">L’Oréal R&I</a>.</p>
                        		</li>
                        		<li>
                        			<p>Experimenting with an online Machine Learning course <a target="_blank" class="about-link" href="https://www.udemy.com/course/complete-machine-learning-and-data-science-zero-to-mastery/">ZeroToMastery: Complete Machine Learning</a> with structured mini projects after graduation.</p>
                        		</li>
                        	</ul>
		                </div>
		            </div>
		            <div class="container-timeline right">
		                <div class="content overflow-auto">
	                        <h2>2018</h2>
                            <ul class="marker-timeline">
                                <li>
                                    <p>Obtaining the <a target="_blank" class="about-link" href="https://sciences.sorbonne-universite.fr/formation-sciences/licences/licences-generales-l2-l3/licence-dinformatique">License’s degree in Computer Science at UPMC</a> (Paris-VI renamed Sorbonne University).</p>
                                </li>
                            </ul>
		                </div>
		            </div>
		            <div class="container-timeline left">
		                <div class="content overflow-auto">
	                        <h2>2015</h2>
                            <ul class="marker-timeline">
                                <li>
                                    <p><span class="text-decoration-underline">High school diploma in Sciences</span> with Maths option at Lycée Gérard de Nerval (Val d’Oise).</p>
                                </li>
                            </ul>
		                </div>
		            </div>
		        </div>
		    </div>

		    <div class="tab-pane fade" id="v-pills-career" role="tabpanel" aria-labelledby="v-pills-career-tab">
		    	<div class="container-fluid">
		    		{% for job in career %}
			    	<div class="row gx-5 align-items-center" style="padding-bottom: 50px;">
				  		<div class="col-3">
				  			<a target="_blank" href="{{ job[0][5] }}">
				  				<img src="{{ job[0][1] }}" class="img-fluid" alt="{{ job[0][7] }}">
				  			</a>
				  		</div>
				  		<div class="col-md-4">
				  			<div class="row">
				  				<h5 class="text-center fw-bolder">{{ job[0][0] }}</h5>
				  				<span class="text-center">{{ job[0][6] }}</span>
				  			</div>
				  		</div>

				  		<div class="col-md">
				  			<p><span class="text-decoration-underline fw-bolder">Value Added</span> {{ job[0][2] }}</p>
					  		<p><span class="text-decoration-underline fw-bolder">Culture fit</span> {{ job[0][3] }}</p>
							<p><span class="text-decoration-underline fw-bolder">Conclusion</span> {{ job[0][4] }}</p>
				  		</div>
				  	</div>
				  	{% endfor %}
		    	</div>
		    	
		    </div>

		    <div class="tab-pane fade" id="v-pills-skills" role="tabpanel" aria-labelledby="v-pills-skills-tab">
		    	<div class="container-fluid text-center">
			    	<div class="pill">
				  		<h6>Key Skills</h6>
					  	<span class="badge bg-dark rounded-pill">Python</span>
					  	<span class="badge bg-dark rounded-pill">ML</span>
					  	<span class="badge bg-dark rounded-pill">Communication</span>
				  	</div>
				  	<div class="pill">
				  		<h6>Coding</h6>
					  	<span class="badge bg-dark rounded-pill">Python</span>
					  	<span class="badge bg-dark rounded-pill">Java</span>
					  	<span class="badge bg-dark rounded-pill">C</span>
						
				  	</div>
					<div class="pill">
						<h6>Data Wrangling, ML & Stats</h6>
					  	<span class="badge bg-dark rounded-pill">scikit-Learn</span>
					  	<span class="badge bg-dark rounded-pill">TensorFlow</span>
					  	<span class="badge bg-dark rounded-pill">pandas</span>
					  	<span class="badge bg-dark rounded-pill">NumPy</span>
					  	<span class="badge bg-dark rounded-pill">matplotlib</span>
						
					</div>
					<div class="pill">	
						<h6>Web Development</h6>
					  	<span class="badge bg-dark rounded-pill">HTML5</span>
					  	<span class="badge bg-dark rounded-pill">CSS</span>
					  	<span class="badge bg-dark rounded-pill">JavaScript</span>
					  	<span class="badge bg-dark rounded-pill">PHP</span>
						
					</div>
					<div class="pill">
						<h6>Data Management & Big Data technologies</h6>
					  	<span class="badge bg-dark rounded-pill">ETL Talend</span>
					  	<span class="badge bg-dark rounded-pill">SQL</span>
					  	<span class="badge bg-dark rounded-pill">NoSQL MongoDB</span>
					  	<span class="badge bg-dark rounded-pill">Hadoop/Spark/MapReduce</span>
						
					</div>
					<div class="pill">
						<h6>OS & Source Control</h6>
					  	<span class="badge bg-dark rounded-pill">Git</span>
					  	<span class="badge bg-dark rounded-pill">Linux</span>
					  	<span class="badge bg-dark rounded-pill">Windows</span>
						
					</div>
					<div class="pill">
						<h6>Data Viz & Analytics</h6>
					  	<span class="badge bg-dark rounded-pill">MS Power BI</span>
					  	<span class="badge bg-dark rounded-pill">Qlick Sense</span>
					  	<span class="badge bg-dark rounded-pill">SAS Analytics</span>
					  	<span class="badge bg-dark rounded-pill">MS Excel</span>
					  	<span class="badge bg-dark rounded-pill">SAP BO</span>
						
					</div>
					<div class="pill">
						<h6>Soft Skills</h6>
					  	<span class="badge bg-dark rounded-pill">Lean & Agile development</span>
					  	<span class="badge bg-dark rounded-pill">Interpersonal skills</span>
					  	<span class="badge bg-dark rounded-pill">Basis of the business set-up</span>
					  	<span class="badge bg-dark rounded-pill">French</span>
					  	<span class="badge bg-dark rounded-pill">English</span>
					  	<span class="badge bg-dark rounded-pill">Spanish</span>
						
					</div>
				</div>
		    </div>

		    <div class="tab-pane fade" id="v-pills-passions" role="tabpanel" aria-labelledby="v-pills-passions-tab">
		    	<div class="container-fluid text-center justify-content-center">
		    		<div class="row justify-content-center">
		    			<div class="pill">
					  		<h6>Sport</h6>
						  	<span class="badge bg-dark rounded-pill">Classic Danse</span>
						  	<span class="badge bg-dark rounded-pill">Running</span>
						  	<span class="badge bg-dark rounded-pill">Pilates</span>
							
					  	</div>
					  	<div class="pill">
					  		<h6>Hobbies</h6>
						  	<span class="badge bg-dark rounded-pill">Sewing</span>
						  	<span class="badge bg-dark rounded-pill">Fashion/Design</span>
						  	<span class="badge bg-dark rounded-pill">Video Games</span>
					  	</div>
		    		</div>
				</div>
		    </div>
		  </div>
		</div>
	</div>

{% endblock %}