{% extends "layout.html" %}
{% set active_page = "about" %}

{% block title %}
    Orlane Houzet | About
{% endblock %}

{% block main %}

    <!-- This section is about to tell a bit about myself, like:
        - my learning path
        - my career
        - my skills (key skills and further, links to my projects portfolio)
        - my passions (links to my blog)
    -->
    <div class="about-content container-fluid">
    	<div class="row">
    		<div class="col-md-auto nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			  <a class="nav-link active" id="v-pills-intro-tab" data-toggle="pill" href="#v-pills-intro" role="tab" aria-controls="v-pills-intro" aria-selected="true">Introduction</a>
			  <a class="nav-link" id="v-pills-learning-path-tab" data-toggle="pill" href="#v-pills-learning-path" role="tab" aria-controls="v-pills-learning-path" aria-selected="false">Learning Path</a>
			  <a class="nav-link" id="v-pills-career-tab" data-toggle="pill" href="#v-pills-career" role="tab" aria-controls="v-pills-career" aria-selected="false">Career</a>
			  <a class="nav-link" id="v-pills-skills-tab" data-toggle="pill" href="#v-pills-skills" role="tab" aria-controls="v-pills-skills" aria-selected="false">Skills</a>
			  <a class="nav-link" id="v-pills-passions-tab" data-toggle="pill" href="#v-pills-passions" role="tab" aria-controls="v-pills-passions" aria-selected="false">Passions</a>
			</div>


			<div class="col tab-content" id="v-pills-tabContent">
			  
			  <!-- INTRO -->
			  <div class="tab-pane fade show active" id="v-pills-intro" role="tabpanel" aria-labelledby="v-pills-intro-tab">
			  	<div class="jumbotron jumbotron-fluid">
				  <div class="container">
				    <h1 class="display-6">Data Scientist</h1>
				    <hr class="my-4">
				    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.
				    I am a programmer and data scientist.
					<br/>I've just graduated from a <strong>Master degree</strong> and I am eager to find challenges as I am passionned by new technologies.</p>
				  </div>
				</div>


			  	<div id="accordion">
				  <div class="card">
				    <div class="card-header" id="headingOne">
				      <h5 class="mb-0">
				        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				          1. My decision for starting the course:
				        </button>
				      </h5>
				    </div>

				    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
				      <div class="card-body">
				        It was the summer of 2015, I’ve just had my high school diploma in sciences. I’ve always loved mathematics and I was good at chemistry and physics. I quickly found interest in Computer Science when I started my first year of a Bachelor’s degree at the University, it was a multidisciplinary training, ie. Maths, Chemistry, Physics and totally new to me, Computer Science.
						<br/>I was good at writing lines of codes and understanding about math logic, linear algebra… Just to let you know, although my father introduced me to new technologies from an early age, and I was always attracted by video games, drones, etc. (those « geek » things), I had no idea about what a terminal was and, most of all, I was so unconfident holding a Mac besides some of my classmates who had such a huge, dense sort of « geek » computer.

						<br/>It was at this point I started wondering whether I was planning a career in chemistry or in computer science. My decision was based on a hunch. I am a curious person but, I was so unsure and unconfident during a long time about this decision, you’ll know why later.
						<br/>But then something has confirmed my future career choice. It’s only at the end of my Bachelor’s degree, in November 2017, thanks to a video from direction of L’Oréal, as I like Fashion industry and lot of other things, it made me realize that this industry was really interested by this still mysterious domain to me at this period, the Data Science : they needed engineers! (Quote: L’Oréal).

						<br/>And even more, since I was reconsidering my training path, as I said before, I was so unsure about my decision. Sciences and more particularly Computer Science, is so much under-represented by women, as matter of fact, the fewer women, the fewer women. Those math, statistical or machine learning courses where I have once been the only girl sitting in a room of 25/30 persons, made me often feel out of place.
				      </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingTwo">
				      <h5 class="mb-0">
				        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          2. What I have achieved during my studies:
				        </button>
				      </h5>
				    </div>
				    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				      <div class="card-body">
				        The key skill of my five-years studies is, to me, the ability to learn. This is the best qualification I would recommend to someone: to be a learner. And the second thing I would advise is, if you feel that you are able to learn something quickly, you have certainly some interest for it and then, this area of expertise could be well designed for you and for a career path, trust it!
						<br/>I have acquired computing skills and I have considerably increased my analytical skills.
						<br/>I’ve developed my coding skills through many project work (link to project/courses I’ve done—)
						<br/>Thanks to a final year « part-time » Master’s degree, I have a little industry experience working on a range of problems/hands-on of data analytics technologies.
						<br/>I adapt willingly to change as in just five years I’ve been to three different universities.

						<br/>What my expertise exactly is:
						The fundamentals of Data Science, Machine Learning, Big Data and Visualisations

						<br/>I’ve been heading off to the University for the unique reason that I did not know at all what I wanted to do as higher education studies. I’ve intended to go to a chemical engineering school, but it was a costly and risky project to me.

				      </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingThree">
				      <h5 class="mb-0">
				        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          3. The outcome in the years following:
				        </button>
				      </h5>
				    </div>
				    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				      <div class="card-body">
				        As I have just finished my Master’s in Computer Science and Analytics, I have to say that those five-years studies were so intense and difficult, I came close to dropping out, but it has ended up to be the best choice of career I could ever make, remember, we are in 2020 when I am writing those lines.
						<br/>From now on, I am eager to integrate an inclusive and welcoming workplace, that’s all.
						<br/>Since October 2020, I have taken time to digest my journey, as I couldn’t really express to someone what role was fitted to me in this all thing that is Data Science. 
						Although I had the technical background, I had to demonstrate to people and, most of all, to myself, that I understand Machine Learning and apply these with coding.
						<br/>I needed something to achieve this (link to my portfolio of project—).
						<br/>To finish, as seen on many data science blog posts I red, I’ve found relevant to put my work in GitHub, Kaggle and in a proper web site!
						<br/>Also, it was the best period (confinement round 2) to read all of my to-read list (link to books I am reading). 

						<br/>Who am I now?
						<br/>I consider myself to have the hacker spirit: it means passion, sociability and creativity.
							<br/>Passion for the domain of new technologies.
							<br/>Sociability, it is something relevant to me as I love sharing and having fun.
							<br/>Creativity, the holy grail to me, this is what drove my decision to stay in the domain of Data Science, where we can create and apply IA/ML to answer to users uses cases in so many fields.
						<br/>And, as I’ve discovered the term in an article and I really appreciate it, I am eager to become what we call a creative technologist !

						<br/>As I said before, I was not able at the end of my studies to tell what role was well fitted to me, then here it is: I am an analyst able to understand the stakes of Big Data. And I am eager to become a senior Data Scientist.

						<br/>Over the next few years, I would like to work in tech companies, where the core values are to innovate and collaborate. Either in France or abroad. I am also determined to improve all along with this new journey.
						<br/>Last but not least, I envision to share my work and my feeling about what it is to work in this area. I would love to make use of my experience to guide other women and men.
				      </div>
				    </div>
				  </div>
				</div>
			  </div>
			  
			  <!-- LEARNING PATH -->
			  <div class="tab-pane fade" id="v-pills-learning-path" role="tabpanel" aria-labelledby="v-pills-learning-path-tab">
			  	<!-- Timeline -->
				    <div class="timeline">
			            <div class="container-timeline left">
			                <div class="content">
			                        <h2>2020</h2>
			                        {% if lang == 'en' %}
			                        	<ul class="marker-timeline">
			                        		<li>
			                        			<p><a target="_blank" class="about-link" href="https://www.udemy.com/course/complete-machine-learning-and-data-science-zero-to-mastery/">ZeroToMastery: Complete Machine Learning</a>: Machine Learning course with structured mini projects.
					                            </p>
			                        		</li>
			                        		<li>
			                        			<p>Obtaining the <a target="_blank" class="about-link" href="https://dauphine.psl.eu/formations/masters/informatique/m2-informatique-decisionnelle">Master’s degree in Computer Science and Analytics from Paris-Dauphine University</a></p>
			                        		</li>
			                        		<li>
			                        			<p>Finishing my one-year « part-time » at <a target="_blank" class="about-link" href="https://www.loreal.com/fr/science-et-technologie-beaute/recherche-innovation-au-service-beaute/">L’Oréal R&I.</a>
					                            </p>
			                        		</li>
			                        	</ul>
			                        {% else %}
			                        	<ul class="marker-timeline">
			                        		<li>
			                        			<p><a target="_blank" class="about-link" href="https://www.udemy.com/course/complete-machine-learning-and-data-science-zero-to-mastery/">ZeroToMastery: Complete Machine Learning</a>: Machine Learning course with structured mini projects.
					                            </p>
			                        		</li>
			                        		<li>
			                        			<p>Obtaining the <a target="_blank" class="about-link" href="https://dauphine.psl.eu/formations/masters/informatique/m2-informatique-decisionnelle">Master’s degree in Computer Science and Analytics from Paris-Dauphine University</a></p>
			                        		</li>
			                        		<li>
			                        			<p>Finishing my one-year « part-time » at <a target="_blank" class="about-link" href="https://www.loreal.com/fr/science-et-technologie-beaute/recherche-innovation-au-service-beaute/">L’Oréal R&I.</a>
					                            </p>
			                        		</li>
			                        	</ul>
			                        {% endif %}
			                </div>
			            </div>
			            <div class="container-timeline right">
			                <div class="content">
			                        <h2>2018</h2>
			                        {% if lang == 'en' %}
			                            <ul class="marker-timeline">
			                                <li>
			                                    <p>Obtaining the <a target="_blank" class="about-link" href="https://sciences.sorbonne-universite.fr/formation-sciences/licences/licences-generales-l2-l3/licence-dinformatique">License’s degree in Computer Science at UPMC</a> (Paris-VI renamed Sorbonne University).</p>
			                                </li>
			                            </ul>
			                        {% else %}
			                            <ul class="marker-timeline">
			                                <li>
			                                    <p>Obtaining the <a target="_blank" class="about-link" href="https://sciences.sorbonne-universite.fr/formation-sciences/licences/licences-generales-l2-l3/licence-dinformatique">License’s degree in Computer Science at UPMC</a> (Paris-VI renamed Sorbonne University).</p>
			                                </li>
			                            </ul>
			                        {% endif %}
			                </div>
			            </div>
			            <div class="container-timeline left">
			                <div class="content">
			                        <h2>2015</h2>
			                        {% if lang == 'en' %}
			                            <ul class="marker-timeline">
			                                <li>
			                                    <p>High school diploma in Sciences with Maths option at Lycée Gérard de Nerval (Val d’Oise).</p>
			                                </li>
			                            </ul>
			                        {% else %}
			                            <ul class="marker-timeline">
			                                <li>
			                                    <p>High school diploma in Sciences with Maths option at Lycée Gérard de Nerval (Val d’Oise).</p>
			                                </li>
			                            </ul>
			                        {% endif %}
			                </div>
			            </div>
			        </div>
			  </div>
			  
			  <!-- CAREER -->
			  <div class="tab-pane fade" id="v-pills-career" role="tabpanel" aria-labelledby="v-pills-career-tab">
			  	<div class="pill-career row d-flex flex-row">
			  		<div class="pill-career-logo col-2 mr-4"><img src="/static/img/1200px-L'Oréal_logo.png" class="" alt="L'Oréal" style="flex-basis: 20%; max-height: 80px; max-width: 150px;"></div>
			  		<h5 class="pill-career-title col-3">1-year part-time - BI Developer </h5>
			  		<div class="pill-career-desc col row">
			  			<div>[Value Added] Utilizing Data Viz tools (MS Power BI) to create dashboards for the Métier that contributed to the fact that the company plan on simplify and democratize the way people work with data and use Artificial Intelligence.</div>
				  		<div>[Culture fit] I had maximum proximity to the Métier which helped to the coordination of stakeholders for better collaboration, even more since the company is in an agile development process. I also have experienced helping users to analytics platform and to master its use. All this enhanced my Communication, Data Viz and Data Wrangling skills.
				  		</div>
						<div>[Conclusion] This showcases my willingness to build values for my employers (by translating insights into business recommendations) and share my knowledge.</div>
			  		</div>
			  	</div>
			  	<div class="pill-career row d-flex flex-row">
			  		<div class="pill-career-logo col-2 mr-4"><img src="/static/img/1200px-Chanel_logo_complet.png" class="" alt="Chanel" style="flex-basis: 20%; max-height: 80px; max-width: 150px;"></div>
			  		<h5 class="pill-career-title col-3">4-month internship - Project and Resources Manager </h5>
			  		<div class="pill-career-desc col row">
				  		<div>[Value Added] I helped coordinate the stakeholder of the project and created reporting (objectives, deliverables, schedule) that fostered the smooth running of the project.</div>
				  		<div>[Culture fit] Using project management functions helped to have increased attention to customer needs.
				  		</div>
						<div>[Conclusion] This very first experience in the IT department gave me initial insight into the business world and leading a project.</div>
					</div>
			  	</div>
			  </div>
			  
			  <!-- SKILLS -->
			  <div class="tab-pane fade text-center" id="v-pills-skills" role="tabpanel" aria-labelledby="v-pills-skills-tab">
			  	<div class="mt-4">
			  		<h6 class="pill-title">[Key Skills]</h6>
				  	<div class="pill">
					  	<span class="badge badge-pill badge-dark">Python</span>
					  	<span class="badge badge-pill badge-dark">ML</span>
					  	<span class="badge badge-pill badge-dark">Communication</span>
					</div>
			  	</div>
			  	<div class="mt-4">
			  		<h6 class="pill-title">[Coding]</h6>
					<div class="pill">
					  	<span class="badge badge-pill badge-dark">Python</span>
					  	<span class="badge badge-pill badge-dark">Java</span>
					  	<span class="badge badge-pill badge-dark">C</span>
					</div>
			  	</div>
				<div class="mt-4">
					<h6 class="pill-title">[Data Wrangling, ML & Stats]</h6>
					<div class="pill">
					  	<span class="badge badge-pill badge-dark">Scikit-Learn</span>
					  	<span class="badge badge-pill badge-dark">TensorFlow</span>
					  	<span class="badge badge-pill badge-dark">Pandas</span>
					  	<span class="badge badge-pill badge-dark">NumPy</span>
					  	<span class="badge badge-pill badge-dark">Matplotlib</span>
					</div>
				</div>
				<div class="mt-4">	
					<h6 class="pill-title">[Web Development]</h6>
					<div class="pill">
					  	<span class="badge badge-pill badge-dark">HTML5</span>
					  	<span class="badge badge-pill badge-dark">CSS</span>
					  	<span class="badge badge-pill badge-dark">JavaScript</span>
					  	<span class="badge badge-pill badge-dark">PHP</span>
					</div>
				</div>
				<div class="mt-4">
					<h6 class="pill-title">[Data Management & Big Data technologies]</h6>
					<div class="pill">
					  	<span class="badge badge-pill badge-dark">ETL Talend</span>
					  	<span class="badge badge-pill badge-dark">SQL</span>
					  	<span class="badge badge-pill badge-dark">NoSQL MongoDB</span>
					  	<span class="badge badge-pill badge-dark">Hadoop/Spark/MapReduce</span>
					</div>
				</div>
				<div class="mt-4">
					<h6 class="pill-title">[OS & Source Control]</h6>
					<div class="pill">
					  	<span class="badge badge-pill badge-dark">Git</span>
					  	<span class="badge badge-pill badge-dark">Linux</span>
					  	<span class="badge badge-pill badge-dark">Windows</span>
					</div>
				</div>
				<div class="mt-4">
					<h6 class="pill-title">[Data Viz & Analytics]</h6>
					<div class="pill">
					  	<span class="badge badge-pill badge-dark">MS Power BI</span>
					  	<span class="badge badge-pill badge-dark">Qlick Sense</span>
					  	<span class="badge badge-pill badge-dark">SAS Analytics</span>
					  	<span class="badge badge-pill badge-dark">MS Excel</span>
					  	<span class="badge badge-pill badge-dark">SAP BO</span>
					</div>
				</div>
				<div class="mt-4">
					<h6 class="pill-title">[Soft Skills]</h6>
					<div class="pill">
					  	<span class="badge badge-pill badge-dark">Lean & Agile development</span>
					  	<span class="badge badge-pill badge-dark">Interpersonal skills</span>
					  	<span class="badge badge-pill badge-dark">Basis of the business set-up</span>
					  	<span class="badge badge-pill badge-dark">French</span>
					  	<span class="badge badge-pill badge-dark">English</span>
					  	<span class="badge badge-pill badge-dark">Spanish</span>
					</div>
				</div>
			  </div>
			  
			  <!-- PASSIONS -->
			  <div class="tab-pane fade text-center" id="v-pills-passions" role="tabpanel" aria-labelledby="v-pills-passions-tab">
			  	<div class="mt-4">
			  		<h6 class="pill-title">Sport</h6>
				  	<div class="pill mt-3">
					  	<span class="badge badge-pill badge-dark">Classic Danse</span>
					  	<span class="badge badge-pill badge-dark">Running</span>
					  	<span class="badge badge-pill badge-dark">Pilates</span>
					</div>
			  	</div>
			  	<div class="mt-4">
					<h6 class="pill-title">Creativity/Hobbies</h6>
				  	<div class="pill mt-3">
					  	<span class="badge badge-pill badge-dark">Sewing</span>
					  	<span class="badge badge-pill badge-dark">Fashion/Design</span>
					  	<span class="badge badge-pill badge-dark">Video Games</span>
					</div>
				</div>
			  </div>

			</div>
    	</div>
    
		
	</div>





















	<!--RAPPEL DE L'ONGLET<h1>About</h1>-->
			<!-- who, what 
			<div class="overflow-auto">...</div>-->

			<!-- timeline -->
						<!--<div class="timeline">
						  <div class="container left">
						    <div class="content">
						      <h2>2017</h2>
						      <p>Lorem ipsum..</p>
						    </div>
						  </div>
						  <div class="container right">
						    <div class="content">
						      <h2>2016</h2>
						      <p>Lorem ipsum..</p>
						    </div>
						  </div>
						</div>
-->
        

		<!-- Intro / Who/What...-->
        <!--
        <div class="row about-content">
            <img src="/static/img/pastille_houzet.png" class="img-top" alt="...">

    		<div class="jumbotron p-4 p-md-5">
    		  <div class="container">
    		    <h1 class="display-6">Data Scientist</h1>
    		    <hr class="my-4">
    		        <p class="lead">
                        I have graduated with a Masters degree in <strong>Data Science</strong> in September 2020. It brought me hands-on experience coding in multiple languages and applying some big data technologies to business uses cases. On top of it all, I ended up finding a new career that I absolutely love. 
                        <br/>From now on, I am eager to apply relevant AI and ML techniques to build intelligent user experiences.
                        Going forward, this place is about to communicate on my Data Science Portfolio.
                        This Data Science is about to communicate what I have acquired, and also what I am about to learn.

                    </p>
    		  </div>
    		</div>
        </div>
        -->
		

	<!-- Section 1 : comporte les cours que j'ai fais -->
	<!--<section>
		<h1 class="coursework">Coursework</h1>
		<h2>Statistics</h2>
		<ul>
			<li>Complete Machine Learning: ZeroToMastery</li>
			<li>Dauphine: Analyse de données et Data Mining</li>
		</ul>

		<h2>Java</h2>
		<ul>
			<li>Complete Machine Learning: ZeroToMastery</li>
			<li>Dauphine: Analyse de données et Data Mining</li>
		</ul>

		<h2>Python</h2>
		<ul>
			<li>Complete Machine Learning: ZeroToMastery</li>
			<li>Dauphine: Analyse de données et Data Mining</li>
		</ul>

		<h2>Machine Learning</h2>
		<ul>
			<li>Complete Machine Learning: ZeroToMastery</li>
			<li>Dauphine: Analyse de données et Data Mining</li>
		</ul>

		<h2>HTML/CSS</h2>
		<ul>
			<li>OpenClassrooms</li>
			<li>Dauphine: Analyse de données et Data Mining</li>
		</ul>
	</section>-->

{% endblock %}