{% extends "layout.html" %}
{% set active_page = "portfolio" %}

{% block title %}
    Orlane Houzet | Portfolio
{% endblock %}

{% block main %}

  <div class="portfolio-content p-3">
    <!-- Intro : Jumbotron ou H1 : Portfolio my projects and skills acquired -->
		<p class="p-md-3">Here are some of my personal data science projects!</p>

		<!-- Project Portfolio Section -->
    <div class="card-group p-md-3">
      <div class="card">
        <img src="/static/img/website.jpeg" class="card-img-top img-fluid" alt="Website">
        <div class="card-body">
          <h5 class="card-title">My Website from Scratch</h5>
          <p class="card-text">Utilizing HTML, CSS, JavaScript, Jinja, a templating language, Flask, a micro web framework, and others technologies to develop a unique data science portfolio website.</p>
          <p class="card-text"><small class="text-muted">Last updated 29-Dec-20</small></p>
        </div>
        <div class="card-img-overlay overlay">
          <div class="text-center">My Website from Scratch</div>
          <a target="_blank" href="https://github.com/orlanehz/website.git" class="icon" title="Git">
            <svg xmlns="http://www.w3.org/2000/svg" width="40%" height="40%" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="card">
        <img src="/static/img/girl_IA.jpeg" class="card-img-top" alt="Kaggle#1">
        <div class="card-body">
          <div class="text-center mt-5">
            <div class="spinner-grow" role="status">
              <span class="visually-hidden"></span>
            </div>
          </div>
          <!--<h5 class="card-title"></h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>-->
        </div>
        <!--<div class="card-img-overlay overlay">
          <a target="_blank" href="#" class="icon" title="Git">
            <svg xmlns="http://www.w3.org/2000/svg" width="40%" height="40%" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
          </a>
        </div>-->
      </div>
      <div class="card">
        <img src="/static/img/computer_vision.jpeg" class="card-img-top" alt="Kaggle#2">
        <div class="card-body">
          <div class="text-center mt-5">
            <div class="spinner-grow" role="status">
              <span class="visually-hidden"></span>

            </div>
          </div>

          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
        <!--<div class="card-img-overlay overlay">
          <a target="_blank" href="#" class="icon" title="Git">
            <svg xmlns="http://www.w3.org/2000/svg" width="40%" height="40%" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
          </a>
        </div>-->
      </div>
    </div>
  </div>


  <!-- Link to a Medium Article (and its logo)
    <a href="#" class="icon" title="Medium">
      <img src="/static/img/logos/Medium Logo Share/03_Symbol/02_White/PNG/RGB/Medium-Symbol-White-RGB@1x.png" class="w-25" alt="Medium">
    </a>
  -->

{% endblock %}